<head>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        
    </head>
</head>
<header>
    <% include headerLogedIn %>
</header>
    <% if (typeof token != "undefined") { %>
        <% var token = token %> 
      <% } %>


<div class="container">
    <div class="jumbotron mt-5">
      <div class="col-sm-8 mx-auto">
        <h1 class="text-center">PROFILE</h1>
      </div>
      <table class="table col-md-6 mx-auto">
        <tbody>
          <tr>
            <td>Fist Name</td>
            <td><%= first_name %></td>
          </tr>
          <tr>
            <td>Last Name</td>
            <td><%= last_name %></td>
          </tr>
          <tr>
            <td>Email</td>
            <td><%= email %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

 <script>
          let token = <%- JSON.stringify(token) %>
          localStorage.setItem('usertoken', token);

          let first_name = localStorage.getItem('first_name')
 </script>


<style>
    #app{
        text-align: center;
        margin-left: 25%;
    }
   

</style>