<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" src='../node_modules/bootstrap/dist/css/bootstrap.css'>
    
</head>
<body class="container">

<header>
    <% include header %>
</header>
    <form class="container" id="app" action="/users/MVC/register/send" method="POST">
      <div class="row">
        <div class="col-md-6 mt-5 mx-auto">
          <form v-on:submit.prevent="register">
            <h1 class="h3 mb-3 font-weight-normal">Register</h1>
            <div class="form-group">
              <label for="name">First name</label>
              <input type="text" v-model="first_name" class="form-control" name="first_name" placeholder="Enter your first name">
            </div>
            <div class="form-group">
              <label for="name">Last name</label>
              <input type="text" v-model="last_name" class="form-control" name="last_name" placeholder="Enter your lastname name">
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" v-model="email" class="form-control" name="email" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" v-model="password" class="form-control" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block">Register!</button>
          </form>
        </div>
      </div>
    </form>

    <style>
        #app{
            text-align: center;
            margin-left: 25%;
        }
    </style>